body{
    font-size: 16px;
    background-color: #e9e3e3;
}
img {
    max-width: 100%;
}
a {
    text-decoration: inherit;
    color: inherit;
}
ul {
    list-style: none;
}
* {
    margin: 0px;
    padding: 0px;
}
/*##### Header ##### */
.header {
    background: url(/images/image-hero-desktop.jpg);
    height: 45vh;
}
.header-content {
    width: 70vw;
    margin: 0 auto;
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 6vh;
}
.lista-menu {
    display: flex;
}
.lista-menu li {
    margin-left: 2vw;
    color: rgb(238, 237, 237);
    font-family: 'Commissioner', sans-serif;
    transition: all 0.3s;
}
.lista-menu li:hover {
    transform: scale(1.1);
    color: #fff;
}
/*##### MAIN CONTENT ##### */
.main {
    width: 40vw;
    background-color: #Ffff;
    margin: 0 auto;
    border-radius: 20px;
}
.title {
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
    text-align: center;
}
.prgraph {
    color:hsl(0, 0%, 48%);
    font-family: 'Commissioner', sans-serif;
}
.btn {
    border: none;
    background-color: hsl(176, 72%, 28%);
    padding: 1.48vw 1.75vw;
    border-radius: 2.0vw;
    font-family: 'Commissioner', sans-serif;
    color: #fff;
}
