/*{
    box-sizing: border-box;
    outline: 0.1px solid red;
} */  
body{
    font-size: 16px;
    background-color: #e9e3e3;
}
img {
    max-width: 100%;
}
a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
ul {
    list-style: none;
}
* {
    margin: 0px;
    padding: 0px;
}
/*##### Header ##### */
.header {
    background: url(/images/image-hero-desktop.jpg);
    height: 45vh;
}
.header-content {
    width: 70vw;
    margin: 0 auto;
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 6vh;
}
.lista-menu {
    display: flex;
}
.lista-menu li {
    margin-left: 2vw;
    color: rgb(238, 237, 237);
    font-family: 'Commissioner', sans-serif;
    transition: all 0.3s;
}
.lista-menu li:hover {
    transform: scale(1.1);
    color: #fff;
}
/*##### MAIN CONTENT ##### */
.main-title {
    width: 40vw;
    background-color: #Ffff;
    margin: 20vh auto 0 auto;
    border-radius: 10px;
    padding: 30px
}
.main {
    width: 40vw;
    background-color: #Ffff;
    margin: 5vh auto;
    border-radius: 10px;
    padding: 30px;
}
.main-stat {
    width: 40vw;
    background-color: #Ffff;
    margin: 20vh auto 0 auto;
    border-radius: 10px;
    padding: 30px
}
.main-title h1,.main-title p {
    text-align: center;
}
.title {
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
}
.prgraph {
    color:hsl(0, 0%, 48%);
    font-family: 'Commissioner', sans-serif;
    padding: 15px 0;
}
.buttons {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.btn {
    border: none;
    background-color: hsl(176, 50%, 47%);
    padding: 1.30vw 1.75vw;
    border-radius: 3.0vw;
    font-family: 'Commissioner', sans-serif;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover {
    transform: scale(1.05);
    background-color: hsl(176, 72%, 28%);
}
.status-bar {
    background-color: hsl(176, 50%, 47%);
    height: 2vh;
    width: 20vw;
}
/*##### STATISTICS ##### */
.stat {
    display: flex;
    justify-content: space-between;
}
.stat div:nth-child(2) {
    border-left: 0.5px solid rgb(143, 143, 143);
    border-right: 0.5px solid rgb(143, 143, 143); 
}
.stat-div {
    flex: 1 1 14.78vw;
    padding : 1.83vh 2.73vh;
    text-align: left;
}
.stat-div p:nth-child(1) {
    font-size: 1.8rem;
}
/*##### SECONDARY CONTENT ##### */
.pledge {
    color: hsl(176, 50%, 47%);
    font-family: 'Commissioner', sans-serif;
}
.editions {
    border: solid 0.5px rgb(143, 143, 143);
    border-radius: 0.5vw;
    padding: 2.1vw;
    margin: 3.0vh auto;
}
.editions p {
    display: inline-block;
}
.info-btn p:nth-child(1) {
    font-size: 1.8rem;
    padding-right: 0.36vw;
}
.info-btn {
    display: flex;
    justify-content: space-between;
}
/*##### Disabled Styles #####*/
.btn.disabled {
    background-color:rgb(185, 183, 183);
}
.title.disabled {
    color:hsl(0, 0%, 48%);
}
.editions.disabled {
    border-color: rgb(224, 222, 222);
}
/*##### SELECT PLEDGE MODAL #####*/
.top-line {
    display: flex;
}