/*{
    outline: 0.1px solid rgb(233, 41, 41);
} */
* {
    box-sizing: border-box;

}   
body{
    font-size: 16px;
    background-color: #e9e3e3;
}
img {
    max-width: 100%;
}
a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
ul {
    list-style: none;
}
* {
    margin: 0px;
    padding: 0px;
}
/*##### Header ##### */
.header {
    background: url(/images/image-hero-desktop.jpg);
    height: 45vh;
}
.header-content {
    width: 70vw;
    margin: 0 auto;
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 6vh;
}
.lista-menu {
    display: flex;
}
.lista-menu li {
    margin-left: 2vw;
    color: rgb(238, 237, 237);
    font-family: 'Commissioner', sans-serif;
    transition: all 0.3s;
}
.lista-menu li:hover {
    transform: scale(1.1);
    color: #fff;
}
/*##### MAIN CONTENT ##### */
.main-title {
    width: 40vw;
    background-color: #Ffff;
    margin: 20vh auto 0 auto;
    border-radius: 10px;
    padding: 30px
}
.main {
    width: 40vw;
    background-color: #Ffff;
    margin: 5vh auto;
    border-radius: 10px;
    padding: 30px;
}
.main-stat {
    width: 40vw;
    background-color: #Ffff;
    margin: 20vh auto 0 auto;
    border-radius: 10px;
    padding: 30px
}
.main-title h1,.main-title p {
    text-align: center;
}
.title {
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
}
.prgraph {
    color:hsl(0, 0%, 48%);
    font-family: 'Commissioner', sans-serif;
    padding: 15px 0;
}
.buttons {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.btn {
    border: none;
    background-color: hsl(176, 50%, 47%);
    padding: 1.30vw 1.75vw;
    border-radius: 3.0vw;
    font-family: 'Commissioner', sans-serif;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover {
    transform: scale(1.05);
    background-color: hsl(176, 72%, 28%);
}
.status-bar {
    background-color: hsl(176, 50%, 47%);
    height: 2vh;
    width: 20vw;
}
/*##### STATISTICS ##### */
.stat {
    display: flex;
    justify-content: space-between;
}
.stat div:nth-child(2) {
    border-left: 0.5px solid rgb(143, 143, 143);
    border-right: 0.5px solid rgb(143, 143, 143); 
}
.stat-div {
    flex: 1 1 14.78vw;
    padding : 1.83vh 2.73vh;
    text-align: left;
}
.stat-div p:nth-child(1) {
    font-size: 1.8rem;
}
/*##### SECONDARY CONTENT ##### */
.pledge {
    color: hsl(176, 50%, 47%);
    font-family: 'Commissioner', sans-serif;
}
.editions {
    border: solid 0.5px rgb(189, 188, 188);
    border-radius: 0.5vw;
    padding: 2.1vw;
    margin: 3.0vh auto;
}
.editions p {
    display: inline-block;
}
.info-btn p:nth-child(1) {
    font-size: 1.8rem;
    padding-right: 0.36vw;
}
.info-btn {
    display: flex;
    justify-content: space-between;
}
/*##### Disabled Styles #####*/
.btn.disabled {
    background-color:rgb(185, 183, 183);
}
.title.disabled {
    color:hsl(0, 0%, 48%);
}
.editions.disabled {
    border-color: rgb(224, 222, 222);
}
/*##### SELECT PLEDGE MODAL #####*/
.container-modal-select {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
    overflow-y: initial;
}
.modal-select {
    background-color: #fff;
    width: 60vw;
    height: 70vh;
    overflow-y: auto;
    border-radius: 10px;
    margin: 50px auto;
    padding: 7vh 5vw;
}
.topline:hover {
    color:hsl(176, 72%, 28%);
    font-weight: bold;
}
.editions-modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.editions-modal h2 {
    margin-right: 2.5vw;
    flex: 1 0 max-content;
}
.topline {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s;
}
.container-edition {
    display: flex;
    border: solid 0.5px rgb(189, 188, 188);
    border-radius: 0.5vw;
    padding: 2.1vw;
    margin: 3.0vh auto;
}
.container-edition input {
    margin-right: 2.2vw;
}
.qtd span:nth-child(2){
    margin-left: 0.8vw;
}
.container-edition input[type="radio"] {
    opacity: 1;
    width: 100%;
}
.container-edition input[type="radio"]:checked {
    background-color:#bfb;
    border-color: #4c4;
}
.container-edition label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}